// Automatically set modal's width for larger viewports
.modal-dialog {
	width: $modal-md;
	margin: 30px auto;
}
.modal-content {
	@include box-shadow(0 5px 15px rgba(0,0,0,.5));
}

// Modal sizes
.modal-sm { width: $modal-sm; }